<h1> New Event </h1>

<%= form_for @event do |f| %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>

  <%= f.submit "Create" %>
<% end %>
