<% @title = "Welcome to Prophetron!" %>
<div class="row">
  <div class="col-md-8">
    <div class="lead">
      Prophetron is a speculative market created for the purpose of evaluating predictions among friends. Each event has a certain number of possible outcomes, and the price of an outcome is the probability of that thing happening.  If you think a given outcome is more likely than the market currently indicates, you should buy shares in it!
    </div>
    <%- unless current_user %>
    <div class="actions text-center">
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
      <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary btn-lg" %>
    </div>
    <%- end %>
  </div>
  <div class="col-md-4">
    <h3>Current Trending Predictions</h3>
    <ul>
      <%- @events.each do |event| %>
        <%- plurality_outcome = event.plurality_outcome %>
        <li><%= plurality_outcome.share_price.to_i %>% - <%= plurality_outcome.name %></li>
      <%- end %>
    </ul>
    <div class="text-center">
      <%- if current_user %>
        <%= link_to "Think we're wrong?", outcomes_path %>
      <%- else %>
        <%= link_to "Think we're wrong?", new_user_registration_path %>
      <%- end %>
    </div>
  </div>
</div>
