<% @title = "Welcome to Prophetron!" %>
<div class="row">
  <div class="col-md-8">
    <div class="lead">
      Prophetron is a speculative market created for the purpose of evaluating predictions among friends. The current price of an event is a prediction of the probability of an event.
    </div>
    <div class="actions text-center">
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
      <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
  <div class="col-md-4">
    <h3>Current Trending Predictions</h3>
    <ul>
      <%- @events.each do |event| %>
      <%- majority_outcome = event.majority_outcome %>
      <li><%= majority_outcome.share_price.to_i %>% - <%= majority_outcome.name %></li>
      <%- end %>
    </ul>
    <div class="text-center">
      <%= link_to "Think we're wrong?", new_user_registration_path %>
    </div>
  </div>
</div>