<% @title = "Welcome to the Prophetron!" %>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Event</th>
        <th>Outcome</th>
        <th>Price</th>
        <%- if current_user %>
        <th>Held</th>
        <th>Valuation</th>
        <%- end -%>
      </tr>
    </thead>
    <tbody>
      <%- @outcomes.each do |outcome| %>
      <tr>
        <td><%= outcome.event.name %></td>
        <td><%= outcome.name %></td>
        <td><%= '%.2f' % outcome.share_price %></td>
        <%- if current_user %>
        <td><%= current_user.quantity(outcome) %></td>
        <td><%= '%.2f' % current_user.valuation(outcome) %></td>
        <td><%= link_to("Buy",  purchase_outcome_path(outcome, quantity: 1),   method: :post) %></td>
        <td><%- if current_user.quantity(outcome) > 0 %>
            <%= link_to("Sell", purchase_outcome_path(outcome, quantity: -1),  method: :post) =%>
            <%- else %>
            Sell
            <%- end %>
        </td>
        <%- end -%>
      </tr>
      <%- end %>
    </tbody>
  </table>
</div>